#jinja2:lstrip_blocks: True

#! /bin/bash

hostname {{ ansible_host }}
apt update && apt install python3 python3-pip python3-venv -y
cd {{ aws_sf_init_dir_ansible }}
rm -rf venv
python3 -m venv ./venv
source venv/bin/activate
pip3 install --upgrade pip
pip3 install -r requirements.txt
ansible-galaxy install -r requirements.yml --force
INVENTORY_PATH=`echo "{{ inventory_dir | regex_replace('^.*inventor','inventor') }}"`
ansible-playbook {{ aws_sf_init_playbook }} -i "$INVENTORY_PATH" --connection local --limit {{ ansible_host }}
